p{
    color: #2c3e50;
}
.host {
    display: flex;
    flex-wrap: wrap;  
    gap: 20px;       
    justify-content: center;
    max-width: 1200px;
    margin-bottom: 30px;
}

.cc {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}